/* @import './variables.module.scss'; */

html,
body {
  padding: 0;
  margin: 0;
  /* background-color: #f1faee; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* color: "#252422"; */
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

nav {
  padding: 0 4rem;
  border-bottom: 3px solid #E34E1F;
  display: flex;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Red Hat Display', sans-serif;
  color: #4D4DDD;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E34E1F;
  /* border-radius: 4px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E34E1F;
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }

  body {
    color: #1d3557;
    background: white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #4D4DDD;
  }
}