/* @import './variables.module.scss'; */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

nav {
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  backdrop-filter: saturate(180%) blur(5px);
  transition: background 0.6s ease 0s;
  border-bottom: 1px solid rgb(234, 234, 234);
  background: rgba(255, 255, 255, 0.8);
  transform: translateZ(0px);
  z-index: 1000;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Red Hat Display', sans-serif;
  /* color: #4D4DDD; */
  margin: 0;
  margin-bottom: 1rem;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E34E1F;
  /* border-radius: 4px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E34E1F;
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }

  body {
    color: #1d3557;
    background: white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    /* color: #4D4DDD; */
  }
}

pre {
  padding: 16px 0;
  overflow: auto;
  font-size: 1.25em;
  line-height: 1.4;
  background-color: rgba(223, 226, 229, .124);
  border: 1px solid rgba(223, 226, 229, .333);
  border-radius: 3px;
}

.hljs {
  background-color: transparent;
}

code>div {
  display: inline-block;
  width: 100%;
  padding: 0 16px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  counter-increment: line-code;
}

code>div::before {
  display: inline-block;
  width: 20px;
  content: counter(line-code);
  text-align: right;
  font-size: .80em;
  margin-right: 20px;
  margin-left: -10px;
  opacity: .3;
}