.container {
  display: flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1rem;
  transition-duration: 300ms;

  &:hover {
    padding-right: 20px;
    transition-duration: 300ms;
  }
}
.label {
  margin: 0;
  color: #4D4DDD;
}
.linkButton {
  width: 100%;
}