.container {
  max-width: 90%;
  margin: 0 auto;
  margin-top: 24px;
}

.wrapper {
  display: flex;
}

.label {
  display: block;
  padding-bottom: 6px;
}
.controlBlock {
  margin-bottom: 24px;
}
.inputControl {
  padding: 10px;
  border: 1px solid #cecece;
  border-radius: 4px;
  width: 100%;
}

.editor {
  width: 70%;
}

.controls {
  border: 2px solid #eee;
  border-radius: 10px;
  width: 30%;
  margin-left: 24px;
  padding: 24px;
}

.btnCreate {
  margin-top: 32px;
  background-color: white;
  outline: none;
  border: 1px solid #292929;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}