@import "./../../styles/variables.module.scss";

.container {
  display: flex;
}
.leftBlock {
  width: 40%;
  text-align: right;
  border-right: 1px solid $s_divider;
  padding: 2rem 2rem;
  position: sticky;
  position: -webkit-sticky; /* for Safari */
  top: 45px;
  align-self: flex-start;
  height: calc(100vh - $navbar_height);
}
.rightBlock {
  width: 100%;
  padding-left: 16px;
  padding: 2rem;
  padding-right: 10px;
}
.listicles {
  max-width: 640px;
}
.articleCard {
  padding-bottom: 24px;
}
.titleAllPosts {
  padding-top: 2rem;
  color: $s_purple_primary;
}
.totalCountLabel {
  color: $s_purple_light;
}